[Ll]ibrary/
[Tt]emp/
[Oo]bj/
[Bb]uild/
[Bb]uilds/
MemoryCaptures/
sysinfo.txt
!/[Aa]ssets/**/*.meta
/Library/PackageCache/
/Library/ShaderCache/
/Library/ScriptAssemblies/
/Library/PlayerDataCache/
ExportedObj/
.consulo/
*.csproj
*.unityproj
*.sln
*.suo
*.tmp
*.user
*.userprefs
*.pidb
*.booproj
*.svd
*.pdb
*.mdb
*.opendb
*.VC.db
.idea/
*.sln.iml
*.DotSettings.user
.vscode/
*.apk
*.aab
*.ipa
*.app
*.xcodeproj/
*.xcworkspace/
*.unitypackage
.DS_Store
Thumbs.db